@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Authen.cshtml";
}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="text-center my-4">
                        <img src="~/backend/assets/img/logo-food.png" width="100" />
                    </div>
                    <div class="card-body mx-5">
                        <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                        <form>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                <label for="inputEmail">Email address</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
                                <a asp-action="Login" asp-controller="Backend" class="small">Return to login</a>
                                <a asp-action="Login" asp-controller="Backend" class="btn btn-primary">Reset Password</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small"><a asp-action="Register" asp-controller="Backend">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
